# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:ARCHERARMOR=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:AncientHelmet=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:BRIGANDINE=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:Blindfold=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Bone=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:CENTURIONARMOR=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:CORINTHIAN=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales1=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales2=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales3=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales4=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales5=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales6=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales7=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DragonScales8=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"Dragonsteel Fire"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"Dragonsteel Ice"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:Earplugs=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"Forest Troll"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"Frost Troll"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:GAMBESON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:GREAT_HELMET=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:HEAVYPLATEARMOR=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"IMMERSIVEENGINEERING:FARADAY"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"IMMERSIVEENGINEERING:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:KETTLE_HAT=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:KNIGHTARMOR=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:LEGIONARYARMOR=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"Mountain Troll"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:MyrmexDesert=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:MyrmexJungle=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"Red Deathworm"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:SOLDIERARMOR=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesblue=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesbronze=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesdeepblue=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesgreen=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalespurple=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesred=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SeaSerpentScalesteal=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Sheep=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:Silver=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:VIKING_HELMET=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"White Deathworm"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"Yellow Deathworm"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:amphibious=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ancient=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:bl_cloth=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:legend=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:lurker_skin=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"minecolonies:pirate"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"minecolonies:pirate2"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"minecolonies:santa_hat"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:mutant_skeleton=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:rubber=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:slimy_bone=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:syrmorite=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:valonite=0
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:AmphithereSword=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:BATTLEAXE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:BRASS_SWORD=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:CREATIVESWORD=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Dragonbone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DragonsteelFire=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DragonsteelIce=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DreadKnightSword=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DreadQueenSword=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:DreadSword=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:EXCALIBUR_SWORD=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:FireDragonbone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:GLADIO=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:GREATSWORD=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:HIDEN_BLADE=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:HippocampusSword=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:HippogryphSword=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"IE:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:IceDragonbone=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:IcedMeat=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:KATANA=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:KNIFE=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:LANCE=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:LONGSWORD=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:MACE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:MyrmexChitin=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:NUNCHAKU=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:POLEAXE=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:RAPIER=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:SCIMITAR=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:SPEAR=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:STEELSWORD=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:Scarab=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:Silver=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:StymphalianSword=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:VIKING_SWORD=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:WOODENCLUB=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:bone=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:dentrothyst=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:legend=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:loot=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:octine=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:syrmorite=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:toothDagger=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 1]
    I:trollWeapon=1

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:valonite=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:weedwood=0
}


